.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #0f7ed3;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}